body {
    background-color: #ffe8a2;
    background-size: cover;
    background-blend-mode:lighten;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    display: block;
    margin: auto;
}

ul {
    margin: auto;
}

h2 {
    font-size: 28px;
}

li {
    font-size: 20px;
}