body {
    background-color: orange;
    overflow: hidden;
    padding: 0px;
}

.background-night{
    background-color: rgb(59, 59, 231);
    width: 100%;
    height: 100%;
    opacity: 80%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -500;
}

#wholeCode{
    display: none;
}

.warning{
    width: 5%;
    height: 7%;
    left: 20%;
    display: none;
    position: absolute;
}

#health{
    -webkit-appearance: none;
    width: 20%;
    z-index: 300;
    position: absolute;
  }
  ::-webkit-progress-bar {
    background-color: red;
  }
  ::-webkit-progress-value {
    background-color: greenyellow;
  }


.movingHouse{
    position: absolute;
    transition: 500ms;
    bottom: -10px;
    left: -10px;
    z-index: 80;
    height: 100%;
    width: 100vw;
}

.houses{
    bottom: -10px;
    left: -10px;
    height: 80%;
    z-index: 0;
    position: absolute;
    transition: 500ms;
}

.maincharacter{
    position: absolute;
    width: 10%;
    bottom: 15px;
    left: 50px;
    z-index: 1000;
}


.redDoor{
    position: relative;
    bottom: -80%;
    left: 5%;
    width: 6%;
    height: 15%;
    visibility: hidden;
}

.FopenRed{
    position: absolute;
    background-color: white;
    width: 10%;
    height: 5%;
    left: 5%;
    bottom: 20%;
    text-align: center;
    border-radius: 20px;
    display: none;
}

.FdoorRed{
    position: absolute;
    width: 30%;
    height: 90%;
    top: 2%;
    left: 5%;
}

.text-openRed{
    position: absolute;
    font-size: 130%;
    top: 4%;
    left: 30%;
}

.FopenBlue{
    position: absolute;
    background-color: white;
    width: 10%;
    height: 5%;
    left: 30%;
    bottom: 20%;
    text-align: center;
    border-radius: 20px;
    display: none;
}

.blueDoor{
    position: relative;
    bottom: -80%;
    left: 25%;
    width: 6%;
    height: 15%;
    visibility: hidden;
}

.FdoorBlue{
    position: absolute;
    width: 30%;
    height: 90%;
    top: 2%;
    left: 5%;
}

.text-openBlue{
    position: absolute;
    font-size: 130%;
    top: 4%;
    left: 30%;
}

.FdoorGreen{
    position: absolute;
    width: 30%;
    height: 90%;
    top: 2%;
    left: 5%;
}

.greenDoor{
    position: relative;
    bottom: -80%;
    left: 37%;
    width: 6%;
    height: 15%;
    visibility: hidden;
}

.FopenGreen{
    position: absolute;
    background-color: white;
    width: 10%;
    height: 5%;
    left: 50%;
    bottom: 20%;
    text-align: center;
    border-radius: 20px;
    display: none;
}

.FdoorGreen{
    position: absolute;
    width: 30%;
    height: 90%;
    top: 2%;
    left: 5%;
}

.text-openGreen{
    position: absolute;
    font-size: 130%;
    top: 4%;
    left: 30%;
}

.greenDoor2{
    position: relative;
    bottom: -80%;
    left: 55%;
    width: 6%;
    height: 15%;
    visibility: hidden;
}

.FopenGreen2{
    position: absolute;
    background-color: white;
    width: 10%;
    height: 5%;
    left: 72%;
    bottom: 20%;
    text-align: center;
    border-radius: 20px;
    display: none;
}

.darkblueDoor{
    position: relative;
    bottom: -80%;
    left: 75%;
    width: 6%;
    height: 15%;
    visibility: hidden;
}

.FopenDarkblue{
    position: absolute;
    background-color: white;
    width: 10%;
    height: 5%;
    left: 98%;
    bottom: 20%;
    text-align: center;
    border-radius: 20px;
    display: none;
}

.FdoorDarkblue{
    position: absolute;
    width: 30%;
    height: 90%;
    top: 2%;
    left: 5%;
}

.text-openDarkblue{
    position: absolute;
    font-size: 130%;
    top: 4%;
    left: 30%;
}

.brownDoor{
    position: relative;
    bottom: -80%;
    left: 122%;
    width: 13%;
    height: 15%;
    visibility: hidden;
}

.FopenBrown{
    position: absolute;
    background-color: white;
    width: 10%;
    height: 5%;
    left: 158%;
    bottom: 20%;
    text-align: center;
    border-radius: 20px;
    display: none;
}

.FdoorBrown{
    position: absolute;
    width: 30%;
    height: 90%;
    top: 2%;
    left: 5%; 
}

.text-openBrown{
    position: absolute;
    font-size: 130%;
    top: 4%;
    left: 30%;
}

/* REDHOUSE */

.redHouse{
    position: absolute;
    transition: 500ms;
    bottom: 0px;
    left: 0px;
    z-index: 80;
    height: 100%;
    width: 100vw;
}

.RedDoor-LivingRoom{
    bottom: 0px;
    left: -7px;
    height: 100%;
    width: 110%;
    z-index: 0;
    position: absolute;
    transition: 500ms;
    display: none;
}

.AtractStair{
    top: -30px;
    left: 150px;
    height: 30%;
    width: 30%;
    z-index: 0;
    position: absolute;
    transition: 500ms;
    display: none;
}

.StairInteract{
    width: 30%;
    transform: rotate(90deg);
    position: absolute;
    left: 14%;
    top: 16%;
    display: none;
    visibility: hidden;
}

.RedHouseStair{
    position: absolute;
    background-color: white;
    width: 10%;
    height: 5%;
    left: 25%;
    top: 30%;
    text-align: center;
    border-radius: 20px;
    display: block;
}

.FStairRed{
    position: absolute;
    width: 30%;
    height: 90%;
    top: 2%;
    left: 5%; 
}

.text-openRedStair{
    position: absolute;
    font-size: 130%;
    top: 4%;
    left: 30%;
}

.RedCorridor{
    width: 100%;
    height: 110%;
    position: relative;
    display: none;
}

.tapeRed{
    width: 13%;
    position: absolute;
    display: none;
}

#tape1{
    left: 44%;
    top: 50%;
}

#tape2{
    left: 78%;
    top: 50%;
}

#HumanRoomRed1{
    position: absolute;
    bottom: 15%;
    left: 8%;
    width: 17%;
    height: 50%;
    display: none;
    visibility: hidden;
}

#RedDoorRoom1{
    position: absolute;
    background-color: white;
    width: 10%;
    height: 5%;
    left: 13%;
    top: 50%;
    text-align: center;
    border-radius: 20px;
    display: none;
}


#DoorRed1{
    position: absolute;
    width: 30%;
    height: 90%;
    top: 2%;
    left: 5%; 
}

#text-openDoorRed1{
    position: absolute;
    font-size: 130%;
    top: 4%;
    left: 30%;
}

#HouseRedRoom{
    display: none;
}

#RedHouseRoom1{
    width: 100%;
    height: 110%;
    position: relative;
}

#BedRedDoor{
    position: absolute;
    top: 60%;
    left:  35%;
    width: 30%;
}

#SleepingRed{
    position: absolute;
    left: 40%;
    bottom: 20%;
    width: 20%;
}

#KillHuman{
    position: absolute;
    background-color: black;
    width: 10%;
    height: 5%;
    left: 47%;
    top: 74%;
    text-align: center;
    border-radius: 20px;
    display: none;
}

#DoorRed2{
    position: absolute;
    width: 30%;
    height: 90%;
    top: 2%;
    left: 5%;
}

#text-openDoorRed2{
    position: absolute;
    font-size: 150%;
    top: -5%;
    left: 40%;
    color: white;
}

.blood{
    position: absolute;
    width: 5%;
    left: 52%;
    bottom: 21%; 
}

#blood1{
    display: none;
}

#Score{
    position: absolute;
    width: 15%;
    height: 7%;
    right: 2%;
    top: 2%;
    border-radius: 10px;
    background-color: white;
    z-index: 500;
}

#WordScore{
    font-size: 180%;
    top: 6%;
    left: 3%;
    position: relative;
}

#ScoreNumBox{
    position: relative;
    width: 50%;
    height: 90%;
    left: 49%;
    top: -86%;
    border-radius: 10px;
    background-color: black;
    
    
}

#ScoreNum{
    color: white;
    text-align: center;
    font-size: 180%;
}

#livingRoomBlueAll{
    display: none;
}

#blueHouse-livingRoom{
    width: 110%;
    height: 110%;
    top: -1%;
    left: -1%;
    position: absolute;
}

#blue-livingroom-corridor{
    position: absolute;
    width: 18%;
    height: 50%;
    left: 20%;
    top: 10%;
    visibility: hidden;
}

#BlueLivingRoom{
    position: absolute;
    background-color: white;
    width: 10%;
    height: 5%;
    left: 27%;
    top: 27%;
    text-align: center;
    border-radius: 20px;
    display: none;
}

#blueHouseCorridorAll{
    display: none;
}

#corridorBlue{
    position: absolute;
    width: 100%;
    top: 0%;
    left: 0%;
    height: 100%;
}

#cautionBlue{
    position: absolute;
    width: 18%;
    top: 53%;
    left: 61%;
}

#overlapBlueRoom{
    position: absolute;
    left: 22.3%;
    top: 55%;
    visibility: hidden;
}

#blueHouseRoom{
    position: absolute;
    background-color: white;
    width: 10%;
    height: 5%;
    left: 27%;
    top: 59%;
    text-align: center;
    border-radius: 20px;
    display: none;
}

#blueHouseRoomInside{
    display: none;
}

#BlueRoom{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;

}

#BlueBed{
    position: absolute;
    width: 35%;
    left: 33%;
    top: 50%;
}

#SleepingBlue{
    position: absolute;
    width: 24%;
    left: 38%;
    top: 50%;
}

#SleepingHumanBlue{
    position: absolute;
    background-color: white;
    width: 10%;
    height: 5%;
    left: 35%;
    top: 48%;
    text-align: center;
    border-radius: 20px;
    display: none;
}

#KillBlueText{
    position: absolute;
    font-size: 130%;
    top: -7%;
    left: 43%;
}

#blood{
    position: absolute;
    width: 15%;
    left: 39%;
    top: 54%;
    display: none;
}

#GameOverWhole{
    position: absolute;
    width: 75%;
    height: 70%;
    left: 12.5%;
    top: 15%;
    z-index: 100;
    display: none;
}

#GameOverBackground{
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: 30px;
}

#text-GameOver{
    position: absolute;
    top: 5%;
    left: 30%;
    width: 50%;
    height: 25%;
    font-size: 60px;
    color: red;
    align-items: center;
}

#Retry{
    width: 32%;
    height: 21%;
    font-size: 40px;
    border-radius: 5%;
    top: 38%;
    position: absolute;
    left: 35%
}

#rule{
    position: absolute;
    width: 75%;
    height: 70%;
    left: 12.5%;
    top: 15%;
    z-index: 100;
    display: block;
}

#ruleBackground{
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: 30px;
}

#text-rule{
    position: absolute;
    top: 5%;
    left: 44%;
    width: 50%;
    height: 25%;
    font-size: 60px;
    color: white;
    align-items: center;
}

#Rule-text{
    position: absolute;
    top: 5%;
    font-size: 30px;
    color: white;
}