_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
.vscode
.history
junior_coders/0c23f5f29d83139f13fc32a19c49dee01bfcd93f/teacher_notes/upstream.code-workspace
junior_coders/0c23f5f29d83139f13fc32a19c49dee01bfcd93f/monday_pm/images/SnapNDrag Library.snapndraglibrary
junior_coders/0c23f5f29d83139f13fc32a19c49dee01bfcd93f/teacher_notes/drafts/
junior_coders/0c23f5f29d83139f13fc32a19c49dee01bfcd93f/lessons/Drafts/
.DS_Store
junior_coders/0c23f5f29d83139f13fc32a19c49dee01bfcd93f/teacher_notes/lessonDrafts
junior_coders/0c23f5f29d83139f13fc32a19c49dee01bfcd93f/teacher_notes/webExperiments
