<div class="giphycontainer">

<video  poster="" class="jsgif giphy" style="margin:0;padding:0;margin:0px;width:calc(100% - 18px);" controls  loop muted playsinline preload="metadata">
<source src="{{include.link}}giphy.mp4" type="video/mp4; codecs=&quot;avc1.42E01E, mp4a.40.2&quot;">
 <img src="{{include.link}}giphy.gif" title="Your browser does not support the mp4 video codec.">
</video>
<a href="{{include.link}}giphy.gif" title="{{include.caption}}" target="_blank" style="text-decoration: none;" class="giphylink tooltips"><img class="giphyattribution" src="/assets/giphyattribution.png" alt="attribution"></a>
</div>