<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, user-scalable=no"
        name="viewport">
    <link href="{{ '/assets/css/style.css?v=' | append:
        site.github.build_revision | relative_url }}" rel="stylesheet">
    <script crossorigin="anonymous"
        integrity="sha256-RTQy8VOmNlT6b2PIRur37p6JEBZUE7o8wPgMvu18MC4="src="https://code.jquery.com/jquery-3.3.0.min.js"></script>
    <script src="{{'/assets/js/main.js'|relative_url}}"></script>
    <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" integrity="sha256-3Jy/GbSLrg0o9y5Z5n1uw0qxZECH7C6OQpVBgNFYa0g=" crossorigin="anonymous"></script>
    <![endif]-->
    <script
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="{{'/assets/youtubelazy.js'|relative_url}}"></script>
    <script src="{{'/assets/myjquerycode.js'|relative_url}}">
    </script>
    <style>
        {% include style.css %}
    </style>
    <style>
        {% include youtubelazy.css %}
    </style>
    <title></title>
</head>