<div class="ournav">
    <ul class="ournav-links">
        <li class="ournav-item"><a href="{{ page.levelsToTop }}">Jr. Coders</a> Notes:</li>
        <li class="ournav-item" li="">
            <a href="{{ page.levelsToTop }}class_notes_lessons/a_mon0500pm.html">Monday</a>
        </li>
        <li class="ournav-item">
            <a href="{{ page.levelsToTop }}class_notes_lessons/a_sat0330pm.html">Saturday</a>
        </li>
        <li class="ournav-item" li="">
            <a href="{{ page.levelsToTop }}class_notes_lessons/RoseClassNotes.html">Rose</a>
        </li>
        <li class="ournav-item">
            <a href="{{ page.levelsToTop }}lessons">Lesson Index</a>
        </li>
    </ul>
</div>