<div class="ournav">
    <ul class="ournav-links">
        <li class="ournav-item">Junior Coders:</li>
        <li class="ournav-item">
            <a href="{{ page.levelsToTop }}saturday_pm">Saturday PM Class Notes</a>
        </li>
        <li class="ournav-item" li="">
            <a href="{{ page.levelsToTop }}class_notes_lessons">Monday PM Class Notes</a>
        </li>
        <li class="ournav-item">
            <a href="{{ page.levelsToTop }}lessons">Lesson Topics Index</a>
        </li>
    </ul>
</div>