html {
    scroll-padding-top: 170px;
}

html {
    --scrollbarBG: #ffec9f;
    --thumbBG: #bcdcef;
    --scrollheight: 25px;
    --ourorange: #ffcc01;
    --ourlightblue: #f0f8ff;
    /* aliceblue */
    --ourdarkblue: #4175b5;
    --menuBG: #f5f5dc;
    /* beige*/
    --linkhover: #fee788;
    --borderblue: #3399cc;
}

body {
    background-color: ivory;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    scroll-padding-top: 170px;
    /* fixes bad scrolling on gallery */
}


pre {
/* background: var(--menuBG);*/
border-radius: 12px;
border: unset;

}


code {
/* background: var(--menuBG);*/
/* color: var(--ourdarkblue);*/
text-shadow: unset;
}

h4 {
    /* overrides leap year */
    text-decoration: underline;
}

#banner {
    right: 0%;
    top: 110px;
    border: none;
}

#scrollButton {
    position: fixed;
    /* right: calc(50% - 295px); */
    left: calc(50% - 0px);
    top: 151px;
    /* width: 24px; */
    z-index: 500;
    margin-left: -325px;
    color: var(--ourdarkblue);
    padding: 10px 12px;
    padding: 4px 4px 4px 4px;
    margin-top: 6px;
    line-height: 16px;
    font-size: 14px;
    background-color: var(--ourorange);
    /* border: 1px solid #dba500; */
    /* background: linear-gradient( var(--ourorange), #ffe788 );
    /* border-radius: 18px; */
    /* border-radius: 10px 0px 0px 0px; */
    /* box-shadow: 0px 3px 3px rgba(255, 255, 255, 0.4), 0px 1px 1px rgba(0, 0, 0, 0.1); */
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
    border-top: none;
}


/* makes top button appear in "right" place for mobile */

@media print,
screen and (max-width: 720px) {
    #scrollButton {
        /* this is a kludge to override theme stylesheet. Better formula needed.  */
        margin-left: -50vw !important;
        /* left: 134vw!important; 
                top: 151px;*/
    }
}

a,
nav ul a {
    color: var(--borderblue);
}

a:hover,
nav ul a:hover {
    color: var(--ourdarkblue);
    background-color: var(--linkhover);
    /* border: 1px solid blue; */
}

.ournav {
    width: 100%;
    background-color: var(--ourlightblue);
    align-items: center;
    /* padding: 0px 0px 0px 0px;
    margin: 10px 0 10px 0;
    border-radius: 12px;*/
}

.ournav-links {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0px 0px;
    padding: 0px 0px 0px 0px;
}

.ournav-item {
    margin: 0px 0px;
    /* padding: 5px 15px; border: 1px solid beige; */
}

.ournav-item:first-child:hover {
    background: none;
    border: none;
}

.ournav-item:hover {
    background-color: var(--linkhover);
}

.ournav-item:first-child {
    background: none;
    border: none;
}

.ournav-item a {
    display: inline-block;
    text-decoration: none;
}

header {
    padding-left: 0px;
    display: flex;
    justify-content: space-around;
}

header#header1 h1 {
    width: 100%;
    max-width: 646px;
    border-radius: 10px;
}

div#contentHeader h1 {
    text-decoration: underline;
    font-size: large;
    text-align: center;
    margin-top: 25px;
}

div#subtitle {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0px;
    font-size: larger;
    color: #000;
}

h2 {
    font-size: medium;
    margin: 50px 20px 20px 20px;
    /* border-left: 3px var(--borderblue) solid;
            border-top: 1px var(--borderblue) solid;
            padding: 0px 0px 0px 20px; */
}

ul ol {
    list-style-image: url();
}


/* fixes sub-ordered lists having wrong style when indented */

nav ul {
    padding-left: 0px;
}

div#contentWrapper ul li ul {
    padding: 0px 0px 0px 20px;
    margin-bottom: 0px;
}

div#contentWrapper #toc ul {
    padding-left: 40px;
}

div#contentWrapper #toc ul li ul {
    padding-left: 0px;
}

a:empty:before {
    content: "☞";
    font-size: 0.93em;
    vertical-align: super;
    color: red;
    font-weight: bold;
}

a:empty:after {
    content: "";
}

/* fixes bug https://stackoverflow.com/questions/8951822/combine-css-attribute-and-pseudo-element-selectors 
*/

a[title] {
width: auto;
}

a[title]:not(.external):hover:after {
    content: attr(title);
    position: absolute;
    background: beige;
    border: 2px solid maroon;
    border-radius: 10px;
    padding: 10px;
    color: navy;
    display: block;
    max-width: 50%;
    z-index: 100;
}

nav ul .tag-h1 a:hover {
    color: darkgreen;
    /* background-color: lightblue;
            border: none; */
}

.tag-h2 {
    text-align: left;
    /* border-left: 3px var(--borderblue) solid; */
    padding: 10px 0px 0px 0px;
    margin-bottom: 0px;
}

.navIndented {
    /* highlights main headings 
    display:none;*/
    text-align: center;
    background-color: var(--ourorange);
    left: -20px;
    padding: 3px 10%;
    margin: 3px auto;
    border-radius: 12px;
}

.tag-h2 a {
    font-weight: 900;
    font-size: 14px;
    border-left: 3px var(--borderblue) solid;
    padding: 0px 0px 0px 4px;
}

.tag-h3 {
    padding: 0px;
}

nav {
    overflow: auto;
    padding: 5px;
    max-height: calc(100% - 250px);
    top: 190px;
}


/* fixes bad scrolling to anchors */

#contentWrapper {
    overflow-x: auto;
    padding-left: 15px;
}

.TOCtoggled {
    border-left: 10px solid var(--borderblue) !important;
    border-radius: 4px 4px;
}

details {
    width: 93%;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 10px 10px;
    padding: 0px 1em 0px 1em;
    margin-bottom: 10px;
    /* margin: 10px; */
    border-left: 10px solid var(--borderblue) !important;
    /* box-shadow: 3px 3px 4px black; */
}

details[open] {
    /* border-radius: 10px 10px;
  background-color: pink;
  padding: 2px 6px;
  margin: 0;
  box-shadow: 3px 3px 4px black; */
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-left: 9px solid var(--borderblue) !important;
    border-right: 1px solid var(--borderblue) !important;
    border-bottom: 1px solid var(--borderblue) !important;
}


/* give subdetails different color */

details details {
    background-color: var(--ourlightblue);
}

details>summary {
    padding: 6px 6px 6px 6px;
    width: calc(100% + 1em + 3px);
    background-color: #ffeca0;
    /* var(--summaryHeader) */
    border: none;
    cursor: pointer;
    margin-top: -2px;
    margin-left: -1em;
    /* between bottom of summary and top of details content */
    margin-bottom: 10px;
    border-radius: 0px 10px 0 0;
}

details>summary:focus {
    outline: -webkit-focus-ring-color auto 0px;
}


/* The header-link in the summary is not recorded in the toc, so it is manually repeated in the text ( so it is recorded by the toc ), and this css removes the repeat ( next sibling of the summary ) from the output, so it doesn't appear twice. */

details summary+* {
    display: none;
}

details details>p {
    /* background-color: pink; */
}


/* makes summary content inline, to preserve links and remove extra space */

summary p,
summary h2,
summary h3,
summary h4,
summary h5,
summary h6 {
    display: inline;
}

details[open] summary~* {
    animation: sweepin 2s ease-in-out;
}

@keyframes sweep {
    0% {
        opacity: 0;
        margin-left: -10px;
    }
    100% {
        opacity: 1;
        margin-left: 0px;
    }
}

@keyframes sweepin {
    0% {
        opacity: 0;
        margin-left: -10px;
    }
    100% {
        opacity: 1;
        margin-left: 0px;
    }
}

@keyframes sweepout {
    0% {
        opacity: 1;
        margin-left: 0px;
    }
    100% {
        opacity: 0;
        margin-left: -10px;
    }
}

#toc>ul>li>a {
    font-weight: bold;
    padding-left: 1px;
    padding-right: 6px;
}

#toc>ul>li>a::before {
    content: "> ";
    font-weight: bold;
}

#toc>ul>li>a.TOCtoggled::before {
    content: "\00a0 ";
}

#toc>ul>li:hover>a::before {
    content: "^ ";
    font-weight: bold;
}

#toc>ul>li:hover {
    background-color: var(--linkhover);
    /* #ffeca0 */
}

#toc li {
    display: block;
    transition-duration: 0.5s;
}

#toc li:hover {
    cursor: pointer;
}

#toc ul li ul {
    visibility: hidden;
    opacity: 0;
    position: relative;
    transition: all 0.5s ease;
    margin-left: 1rem;
    left: 0;
    display: none;
    background-color: beige;
}

#toc ul li:hover>ul,
#toc ul li:hover ul li ul {
    visibility: visible;
    opacity: 1;
    display: block;
}

#toc ul li ul li {
    clear: both;
    width: 100%;
}

div.slider {
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.slider table {
    width: 100%;
    border-collapse: collapse;
    /* width: 50%; */
    margin-top: 10px;
}

.slider tr {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}


/*the buttons on the scrollbar (arrows pointing upwards and downwards).*/

.slider td:hover {
    background-color: var(--linkhover);
}

#header1 h1.ournav {
    background-color: white;
}

#header1 a.ournav-item {
    /* border: 5px transparent solid; */
    background: none;
    border-radius: 12px;
    background: transparent;
    border-radius: 12px;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    margin: 2px 4px;
    padding: 0px 13px;
    position: relative;
    top: 11px;
}

#header1 a.ournav-item:hover {
    background-color: var(--linkhover);
    padding-bottom: 6px;
}


/* Don't need button navigation */

@supports (scroll-snap-type) {
    .slider>a {
        display: none;
    }
}

.bottomSpacer {
    /* padding-bottom: 80vh;
            margin-bottom: 80vh;*/
    background-color: var(--ourlightblue);
}

section#mainsection {
    height: fit-content !important;
}


/* START ------------------
nice image gallery 2, no slides 
--------------------
*/

.slider2 {
    /* width: 400px; */
}

.slider2 .gallerymenu {
    margin-top: 10px;
}


/* puts some space over the menu items */

.slider2 .gallerymenu p {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.slider2 .gallerymenu p>a {
    background: var(--menuBG);
    border-radius: 12px;
    border-right: 5px solid #ffcc00;
    border-left: 5px solid #ffcc00;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    margin: 2px 4px;
    padding: 0px 13px;
}


/*the buttons on the scrollbar (arrows pointing upwards and downwards).*/

.slider2 .gallerymenu p a:hover {
    background-color: var(--linkhover);
}


/* SLIDES 2 SECTION OF GALLERY */

div.galleryslides {
    display: flex;
    overflow-x: auto;
    /* scroll-snap-type: x mandatory; */
    scroll-behavior: smooth;
    /* -webkit-overflow-scrolling: touch; */
    background-color: var(--ourdarkblue);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    width: 100%;
    max-width: 100%;
    min-width: 400px;
    resize: horizontal;
}

div.galleryslides p,
div.galleryslides video {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    height: auto;
    margin-right: -1px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0px;
    border-radius: 12px;
    background: #eee;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--scrollbarBG);
}

div.galleryslides p a {
    /* justify-content: center; */
    /* align-items: center; 
    margin: 10%;*/
    width: 100%;
    margin: auto;
    justify-content: center;
    display: flex;
    align-items: center;
}

div.galleryslides p a img {
    border-radius: 12px;
    margin: 6px;
    width: 388px;
    width: 100%;
}

div.galleryslides::-webkit-scrollbar {
    height: var(--scrollheight);
}


/* the scrollbar.*/

div.galleryslides::-webkit-scrollbar-button {
    background: red;
    border-radius: 12px;
    border: 2px solid var(--ourlightblue);
    width: 5%;
}

div.galleryslides::-webkit-scrollbar-thumb,
.ournav-item,
.slider2 .gallerymenu p a {
    background: var(--menuBG);
    border-radius: 12px;
    border-right: 5px solid #ffcc00;
    border-left: 5px solid #ffcc00;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    margin: 2px 4px;
    padding: 0px 13px;
    height: fit-content;
}


/* this is better */

div.galleryslides::-webkit-scrollbar-track {
    background: transparent;
}


/*the track (progress bar) of the scrollbar.*/

div.galleryslides::-webkit-scrollbar {
    height: var(--scrollheight);
    width: var(--scrollheight);
}

div.galleryslides::-webkit-scrollbar-track-piece {
    background: var(--thumbBG);
    border-radius: 12px;
    border: 3px solid var(--ourlightblue);
}


/*the track (progress bar) NOT covered by the handle.*/

div.galleryslides::-webkit-scrollbar-corner {
    background-color: var(--ourdarkblue);
}


/*the bottom corner of the scrollbar, where both horizontal and vertical scrollbars meet.*/

div.galleryslides::-webkit-resizer {
    background: linear-gradient(316deg, var(--thumbBG) 30%, blue 35%, var(--ourorange) 38%);
    background-color: var(--ourlightblue);
    border-top-right-radius: 29px;
    border-bottom-left-radius: 29px;
    border-top-left-radius: 6px;
}


/*the draggable resizing handle that appears at the bottom corner of some elements.*/


/* horizontal. first selector works on first scrollbar buttons, but "end" selector not working, so just selecting whole thing. probably need double-button, but cant figure it out.  */

div.galleryslides::-webkit-scrollbar-button:horizontal:start:increment,
div.galleryslides::-webkit-scrollbar-button:horizontal:increment {
    background: linear-gradient( 210deg, var(--ourorange) 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(330deg, var(--ourorange) 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(90deg, var(--ourorange) 30%, rgba(0, 0, 0, 0) 31%);
    background-color: var(--ourdarkblue);
}

div.galleryslides::-webkit-scrollbar-button:horizontal:start:decrement,
div.galleryslides::-webkit-scrollbar-button:horizontal:decrement {
    background: linear-gradient( 30deg, var(--ourorange) 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(150deg, var(--ourorange) 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(270deg, var(--ourorange) 30%, rgba(0, 0, 0, 0) 31%);
    background-color: var(--ourdarkblue);
    /* must follow background ?? */
}


/* END ------------------
nice image gallery 2, no slides 
--------------------
*/


/* when link to a target in the page is clicked, the link is highlighted via jquery. Useful for showing which picture is showing in the galleries. */

a.clickeditem {
    background-color: var(--ourorange) !important;
}

img.gif {
    visibility: hidden;
}


iframe {
    position: relative;
    border-color: var(--thumbBG);
    border: 9px solid var(--scrollbarBG);
    border-radius: 12px;
    background-color: var(--scrollbarBG);
        margin: 2px 4px;
    padding: 13px 13px;
}


.jsgif {
    position: relative;
    border-color: var(--thumbBG);
    border: 9px solid var(--scrollbarBG);
    border-radius: 12px;
    background-color: var(--scrollbarBG);
    width: calc(100% - 18px);
}

.jsgif canvas {
    width: 100%;
    position: relative;
    top: 3px;
    border-radius: 12px;
}

.gifcontrol {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: background 0.25s ease-in-out;
    z-index: 100;
}

.gifcontrol:after {
    transition: background 0.25s ease-in-out;
    position: absolute;
    content: "";
    display: block;
    left: calc(50% - 25px);
    top: calc(50% - 25px);
}

.gifcontrol.loading {
    background: rgba(255, 255, 255, 0.75);
}

.gifcontrol.loading :after {
    background: #FF9900;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    content: "loading";
}

.gifcontrol.playing {
    /* Only show the 'stop' button on hover */
}

.gifcontrol.playing:after {
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
    border-left: 20px solid #FF9900;
    border-right: 20px solid #FF9900;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
}

.gifcontrol.playing:hover:after {
    opacity: 1;
}


}
.gifcontrol.paused {
    background: rgba(255, 255, 255, 0.5);
}
.gifcontrol.paused:after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25px 0 25px 50px;
    border-color: transparent transparent transparent #ff9900;
}



@font-face {
  font-family: 'FontAwesome';
  src: url('./fonts/fontawesome-webfont.eot?v=4.5.0');
  src: url('./fonts/fontawesome-webfont.eot?#iefix&v=4.5.0') format('embedded-opentype'), url('./fonts/fontawesome-webfont.woff2?v=4.5.0') format('woff2'), url('./fonts/fontawesome-webfont.woff?v=4.5.0') format('woff'), url('./fonts/fontawesome-webfont.ttf?v=4.5.0') format('truetype'), url('./fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}


a.external {
background-color: var(--scrollbarBG);
}

a.external:hover{
background-color: var(--ourorange);
}

a.external:after {
    content: " ";
    background-image: url(/assets/externalLink.jpg);
    background-size: 15px 15px;
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 5px;
    margin-right: 2px;
    position: relative;
    top: 1px;
    transform: rotate(-45deg);
}

code div.scratchblocks {
    display: inline-block;
    position: relative;
    top: 9px;

}

code div.scratchblocks {
    display: inline-block;
    position: relative;
    top: 13px;
}

.scratchblocks svg {
    vertical-align: middle;
}

code.myscratchblocks {
    background: transparent;
}

code {
font-size: 1.2em;
line-height: 1.4em;
font-family: 'FontAwesome';
}

code0:not(.language-plaintext){
font-family: 'FontAwesome';
/* ALTERNATE VERSION uses this trick https://dte.web.id/teknis/css-only-zebra-striped-pre-tag#.UUoV6lugkoM to alternate line colors */
background: var(--scrollbarBG);
background-image: -webkit-linear-gradient(var(--scrollbarBG) 50%, var(--ourorange) 50%);
background-image: -moz-linear-gradient(var(--scrollbarBG) 50%, var(--ourorange) 50%);
background-image: -ms-linear-gradient(var(--scrollbarBG) 50%, var(--ourorange) 50%);
background-image: -o-linear-gradient(var(--scrollbarBG) 50%, var(--ourorange) 50%);
background-image: linear-gradient(var(--scrollbarBG) 50%, var(--ourorange) 50%);
background-position: 0 0;
background-repeat: repeat;
background-size: 1em 2.8em;
display: block;
padding-left: 10px;
padding-right: 10px;
    }

div.highlight {
width:90%;
margin: 0px;
padding: 0px;
}

pre.highlight {
background: var(--menuBG);
}

code.language-plaintext:not(.msb) {
background: transparent;
background: var(--ourorange);
color: var(--ourdarkblue);
font:normal 1em/2.8em 'FontAwesome', Monaco,Monospace !important;
}

code.language-plaintext.msb {
/* inline blocks */
background: transparent;

color: var(--ourdarkblue);
font:normal 1em/2.8em 'FontAwesome', Monaco,Monospace !important;
}



pre.highlight code:not(.language-plaintext) {
/* uses this trick https://dte.web.id/teknis/css-only-zebra-striped-pre-tag#.UUoV6lugkoM to alternate line colors */
display:block;
font:normal 1em/2.8em 'FontAwesome', Monaco,Monospace !important;
color: var(--ourdarkblue);
background-color:var(--scrollbarBG);
background-image:-webkit-repeating-linear-gradient(top,  var(--ourorange) 0px,  var(--ourorange) 2.8em, var(--scrollbarBG) 2.8em, var(--scrollbarBG) 5.6em);
background-image:-moz-repeating-linear-gradient(top,  var(--ourorange) 0px,  var(--ourorange) 2.8em, var(--scrollbarBG) 2.8em, var(--scrollbarBG) 5.6em);
background-image:-ms-repeating-linear-gradient(top,  var(--ourorange) 0px,  var(--ourorange) 2.8em, var(--scrollbarBG) 2.8em, var(--scrollbarBG) 5.6em);
background-image:-o-repeating-linear-gradient(top,  var(--ourorange) 0px,  var(--ourorange) 2.8em, var(--scrollbarBG) 2.8em, var(--scrollbarBG) 5.6em);
background-image: repeating-linear-gradient( var(--ourorange) 0px,  var(--ourorange) 2.8em, var(--scrollbarBG) 2.8em, var(--scrollbarBG) 5.6em);
padding:0em 1em;
overflow:auto;

}

.sb3-comment-line {
 /* Makes comments more visible */
    fill: #dc0000;
}