<div class="giphycontainer jsgif tynker">
  <iframe width="516" height="322"
    src="//www.tynker.com/ide/embedded?p={{include.ID}}&controls=true&autostart=false"
    frameborder="0" allowfullscreen></iframe>
  <div class="giphyattribution" style=""><p id="tynkerattribution">**{{include.Name}}** {{include.ID}}44
    <a
      href="https://www.tynker.com/ide/embedded?p={{include.ID}}&controls=true&autostart=false"
      target="_blank" title="Name of project: {{include.Name}} Project ID:
      {{include.ID}}" style="text-decoration: none;">&nbsp;*open in* <img
        class="" style="" src="/assets/tynkerattribution.png" alt="Name of
        project: {{include.Name}} Project ID: {{include.ID}}"></a></p>
  </div>
</div>