    <div id="banner">
        <a class="button fork" href="{{ page.levelsToTop | default: '../../../' }}../../"><strong>Kyoto Lesson</strong></a>
    </div>
    <!-- end banner -->
    <div class="wrapper">
        <div id="scrollButton">
            <a class="button fork" href="#contentWrapper"><b>^Top</b></a><br>
            <a class="button fork" href="#bottomSpacer"><b>˅Bottom</b></a>
        </div>
        <!-- necessary for nav section to appear-->
        <nav>
            <ul></ul>

        </nav>

        <section id="mainsection" style="height:auto;">
            <header id="header1">
                <h1 class="ournav">
                    <a class="navbar-brand ournav-item" href="{{ page.levelsToTop | default: '../../../' }}../../"><img alt="Kyoto Lesson" src="/img/01_Nav_stamp_namepacifio_blue_navbar1transparent.png" style="vertical-align: middle;" width="200"></a> &nbsp; <a class="ournav-item" href="{{ page.levelsToTop | default: '../../../' }}">{{ include.pagetype }}</a></h1>
                <!--                    <p>{{ page.description | default: site.description | default: site.github.project_tagline }}</p>
                                <h2>{{ page.title | default: site.title | default: site.github.repository_name }}</h2>-->
            </header>