html {
background-color: #f3f3f3;
}

.videowrapper {
max-width: 100%;
margin-bottom: 20px;
/* margin: 60px auto;
padding: 0 20px;*/
}

.video-wrap {
background-color: #000;
margin-bottom: 0px;
position: relative;
padding-top: 56.25%;
overflow: hidden;
cursor: pointer;
}

.video-wrap img {
width: 100%;
top: -16.82%;
left: 0;
opacity: 0.7;
}

.video-wrap .play-button {
width: 90px;
height: 60px;
background-color: #333;
box-shadow: 0 0 30px rgba( 0, 0, 0, 0.6);
z-index: 1;
opacity: 0.8;
border-radius: 6px;
}

.video-wrap .play-button:before {
content: "";
border-style: solid;
border-width: 15px 0 15px 26.0px;
border-color: transparent transparent transparent #fff;
}

.video-wrap img,
.video-wrap .play-button {
cursor: pointer;
}

.video-wrap img,
.video-wrap iframe,
.video-wrap .play-button,
.video-wrap .play-button:before {
position: absolute;
}

.video-wrap .play-button,
.video-wrap .play-button:before {
top: 50%;
left: 50%;
transform: translate3d( -50%, -50%, 0);
opacity: 1;

}

.video-wrap .play-button p {
background: var(--scrollbarBG);
padding: 10px;
text-align: center;
display: flex;
height: inherit;
left: -10px;
top: -180%;
width: inherit;
}


.video-wrap iframe {
height: 100%;
width: 100%;
top: 0;
left: 0;
}

.linktovid {
display: flex;
justify-content: center;
overflow-x: auto;
scroll-behavior: smooth;
-webkit-overflow-scrolling: touch;
background-color: var(--thumbBG);
border-bottom-left-radius: 12px;
border-bottom-right-radius: 12px;
}

.linktovid p {
margin-bottom: 0px;
padding: 10px;
}

.linktovid p a {
/* set in main style sheet */
}


@media print, screen and (max-width: 610px) {
.video-wrap .play-button p {
    /* this fixes the play button message for firefox on youtube videos */
    left: 0%;
    top: 0%;
    position:absolute;
}
}