{% comment %}
Works with zakviewer since turbowarp stopped working correctly at times.
uses rstrip to remove spaces to make sure bold works
uses truncate to shorten the name, and doesn't display the ID(link)
the ID is actually the link to the project. 
The name is whatever you want to call it, not the actual project name.
The caption can be blank.
{% endcomment %}
<div class="giphycontainer jsgif turbowarp">

{% comment %}

The div below does the lazy loading. The 
name="insertZak" is linked to a jquery function that generates 
var domElement = $(
			'<iframe src="https://scratch-viewer.techlit.app/view#project=' + $(this).attr("ID") + '&backgroundColor=#ffec9f&width=515" width="482" height="393" allowtransparency="true" frameborder="0" scrolling="no" allowfullscreen></iframe>'
		)

and replaces the div with domElement the first time it is clicked.   

The first div is a dummy that allows the ournav-item styling to be applied ot the second (since first child has "no border/background" set via css.)

THis gets my user profile pic
<img height="50px" style="align:left;" src="https://cdn2.scratch.mit.edu/get_image/user/62997852_100x100.png">

TThis should get the project thumbnail but it is often returning the generic scratch cat instead. needs debugging.

<img width="100%" src="https://cdn2.scratch.mit.edu/get_image/project/{{ include.ID | split: "/" | last }}_480x360.png">

{% endcomment %}

<div class="ournav-item" style="display:none;"></div>
<div class="ournav-item zakitem" style="border:none;text-align: center;" projectID="{{ include.ID | split: "/" | last }}"  name="insertZak">
<p style=" padding:0px;margin-bottom:0px;"><a>
<img width="100%" src="https://cdn2.scratch.mit.edu/get_image/project/{{ include.ID | split: "/" | last }}_480x360.png">
</a></p>
<p style="font-size: 90%; font-family: Cochin, Times, 'Times New Roman', serif; padding:0px;margin-bottom:15px;"><img height="20px" style="float: left; padding: 10px 5px;" src="https://cdn2.scratch.mit.edu/get_image/user/62997852_100x100.png"> 
Click to run project here, or below to open in scratch, or to run the "zakviewer" in a new tab</p>
</div>

<div class="giphyattribution" style=""><p class="turboattribution"><a class="tooltips" title="{{include.Name}}" href="{{ include.ID}}">{%- if include.Name != "" and include.Name -%}**{{include.Name | rstrip | truncate: 25 }}** {% else %}{{ include.ID}} {%- endif -%} </a> <a href="https://scratch-viewer.techlit.app/view#project={{ include.ID | split: "/" | last }}&title={{ include.Name | replace: " ", "XXX" | url_encode | replace: "XXX", "%20"}}&backgroundColor=#ffec9f&caption={{ include.caption  | replace: " ", "XXX" | url_encode | replace: "XXX", "%20"}}" target="_blank" title="Name of project: {{include.Name}} Project ID:
{{include.ID}}" class="tooltips" style="text-decoration: none;">&nbsp;*open in* <span style="background: #ff5a5a; color: white; border-bottom: 1px solid #cc3c3c; border-radius: 0px 2px 2px 0px; padding-right: 2px; border-top: .2px solid #ffa785;">*Zakviewer*</span></a></p>
</div>
</div>
<div class="tynkercaptiondiv">
{%- if include.caption != "" and include.caption -%}
<blockquote class="tynkercaption"><span>{{- include.caption | default: "" -}}</span>
</blockquote>{% else %} {%- endif -%}
</div>
