html {
    scroll-behavior: smooth;
}
body {
    margin: 50px;
    position: relative;     /*needed for spy-scroll */
    color: rgb(52, 85, 114);
    background-color: #f8f9fa;
}


.box {
	border-radius: 3px;
	background: rgba(101, 101, 101, 0.7); margin: auto; padding: 12px;
}

.lightbox {
	zoom: 1.5;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* background: rgba(10, 10, 10, 0.8); */
	text-align: center;
	margin: auto;

}

div.horizontal {
	display: flex;
	justify-content: center;
	height: 100%;
}

div.vertical {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}

::-webkit-input-placeholder {
   color: #955;
   text-align: center;
}

::-moz-placeholder {
   color: #955;
   text-align: center;
}

:-ms-input-placeholder {
   color: #955;
   text-align: center;
}



a{
    color:#5393CC;
    text-decoration: none;
}
a:hover{
    color:rgb(52, 85, 114);
}


h1, h2 {
    color: #5393CC;
}

/* #navbarscroll .nav-link .active {
    background-color: rgb(48, 47, 47);
    color: white
} */

.avatar_center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 35%;
  }

#menu-nav {
    width: 50%;
    /* margin-left: 4rem; */
}
#menu-nav .nav-link, .dropdown-item{
    color: rgb(52, 85, 114);
}
#menu-nav .nav-link:hover{
    color: #5393CC;
}
#menu-nav .dropdown-item:hover{
    background: #5393CC;
    color: white;
    transition: background .2s;  
}
#menu-nav .nav-link:active{
    background-color: white;
    color: #5393CC;
}
#menu-nav .dropdown-item:active{
    background: #5393CC;
    color: white;
}

#navbarDropdown{
    color: rgb(100, 97, 97);
}

.navbar {
    margin-bottom: 0px;
}

#navbarscroll .nav-link:not(.active) {
    background-color: white;
    color: rgb(52, 85, 114);
}

/* active (faded) */
#navbarscroll .nav-link {
    background-color: rgb(83, 147, 204);
    color: white
}

#navbarscroll .nav-link:hover {
    background: #5393CC;
    color: white;
    /* cursor: pointer;  */
    transition: background .5s;  
}
  

/* #navbarscroll{
    background: rgb(48, 47, 47);
} */

/* make sidebar nav vertical */ 
/* @media (min-width: 768px) {
    .sidebar-nav .navbar .navbar-collapse {
      padding: 0;
      max-height: none;
    }
    .sidebar-nav .navbar ul {
      float: none;
      display: block;
    }
    .sidebar-nav .navbar li {
      float: none;
      display: block;
    }
    .sidebar-nav .navbar li a {
      padding-top: 12px;
      padding-bottom: 12px;
    }
} */

.jumbotron{
    background-image: url(./img/02_JumboTron_css_background_ClassPicture.jpeg); 
    background-size: cover; 
    background-repeat: no-repeat;    
    height: 80vh;
} 
.jumbotron-title{
    background-color: rgba(0,0,0, 0.4); 
    overflow: auto;
    height: 40vh;
}
.mark-red{
    /* rgba(168, 62, 62 */
  background-color: rgba(168, 62, 62, 0.7);        
  color: white;
}
.mark-blue{
    /* rgba(168, 62, 62 */
  background-color: rgba(83, 147, 204, 0.7);        
  color: white;
}
.jumbotron-title h1 {
    color: white;

}
.jumbotron-title h1, .jumbotron-title p{
    font-weight: 900;
    font-family: 'uni_sans_semiboldregular', Arial, Helvetica, sans-serif;
}
.card a{
    text-decoration: none;
    color:inherit;
}

p {
    text-align: justify;
}
.testimonial-author {
    font-family: 'Pacifico';
    font-weight: 500px;
    font-size: 18px;
    /* color:#5393CC; */
    line-height: 1.00em;
    text-align:center;
}


.google-maps {
    position: relative;
    padding-bottom: 75%; /* This is the aspect ratio */
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

footer { 
    background: #F2F2F2;
    color: #5393CC;
    height: 850px;
    padding-bottom: 130px;
  }
footer .nav-item a {
    text-decoration: none;
    color:rgb(52, 85, 114);
}
footer .nav-item a:hover {
    color: #5393CC;
}

footer .footer-title {
    font-weight: 900;
}
@media only screen and (max-width: 600px) {
    footer {
        height: 1430px;
    }
  }  

@font-face {
    font-family: 'Roboto';
    font-display: auto;
    src: local('Roboto'), url(https://fonts.googleapis.com/css?family=Roboto:300,400,700) format('woff2');
}
@font-face {
    font-family: 'Pacifico';
    font-display: auto;
    src: local('Pacifico'), url(https://fonts.googleapis.com/css?family=Pacifico:400&subset=) format('woff2');
}