#hand {
    transform: rotate(-45deg);
}

#woman {
    z-index: -100;
    position: absolute;
    right: 0px;
}

#dont-smorking {
    position: absolute;
    left: 0px;
    width: 500px;
}

#stage {
    width: 90vw;
    height: auto;
    margin: auto;
    margin-top: 10px;
    aspect-ratio: 16 / 9;
}

#tabako {
    margin-left: 1150px; 
    margin-top: 480px;
    width: 180px;
}

#start {
    width: 500px;
    height: 100px;
    font-size: 36px;
    margin-left:600px ;
}

#about {
    text-align: center;
}

/* other styles -- you can ignore these */
body {
    margin: 0;
    height: 100vh;
    background-color: white;
    background-size: cover;
}

.message {
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid #d0d0d0b0;
    padding: 10px 15px;
    border-radius: 20px;
    width: max-content;
    background-color: white;
    z-index: 1;
}