body{
    margin: 0;
    padding: 0;
}

header h1 {
    margin: 2vh;
}

.language a{
    margin: 10px;
    display: block;
    height: 30px;
    width: 100%;
    text-decoration: none;
    line-height: 33px;
    text-align: center;
    border-radius: 20px;
    color: #fff;
    -webkit-box-shadow: 1px 1px 1px #e9e9e9;
    -moz-box-shadow: 1px 1px 1px #e9e9e9;
    box-shadow: 1px 1px 1px #e9e9e9;
    background: #8c4ecc;
    background: -webkit-gradient(linear, left top, left bottom, from(#8c4ecc), to(#ae7ae3));
    background: -moz-linear-gradient(top, #8c4ecc, #ae7ae3);
    background: -o-linear-gradient(top, #8c4ecc, #ae7ae3);
    background: -ms-linear-gradient(top, #8c4ecc, #ae7ae3);
    background: linear-gradient(top, #8c4ecc, #ae7ae3);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#8c4ecc', endColorstr='#ae7ae3');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#8c4ecc', endColorstr='#ae7ae3')";
}
.language a:active{ 
    -ms-transform: translateY(2px);
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
    box-shadow: none;
}

.language a:hover{
    cursor: pointer;
    background: #620db8;

}

img {
    width: 100%;
    padding: 15px;
}

span {
    font-weight: bold;
    color: red;
}

.grayBox {
    padding: 10px;
    border: lightgray solid 1px;
    margin: 10px 0px;
}

.redBox {
    border: 2px red solid;
    margin: 10px;
    padding: 10px;
}

.greenBox {
    border: 2px green solid;
    margin: 10px;
}

.blackBox{
    border: 2px black solid;
    margin: 10px;
}

.blueBox {
    border: blue solid 2px;
    margin: 5px;
}