#stage {
    background-size: cover;
    background-image: url('backdrops/sougen.jpg');
}




/* other styles -- you can ignore these */
.message {
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid #d0d0d0b0;
    padding: 10px 15px;
    border-radius: 20px;
    width: max-content;
    background-color: white;
    z-index: 100;
}

h1  {
    color: rgb(255, 255, 255);
    
}