head{
    /* background: grey; */
}
body{
    /* background: grey; */
    /* background: radial-gradient(white, black); */
    /* background: linear-gradient(to bottom,red,transparent); */
    animation: changecolor 5s 1;
}

p {
    /* display: none; */
}

.myDiv{

    text-align: center;
    color: white;
    animation: incrementFont 5s 1;

}
.warning{
    text-align: center;
    color: rgb(247, 3, 3);
    top: 30px;
    left:30px
    
    
}


.StartButton{
    top: 8%;
    left:45%;
    background-color: grey;
    border: none;
    color: rgb(220, 17, 17);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    position:absolute;
    /* margin: 4px 2px; */
    cursor: pointer;
  
    }
.smokeScreen{
    position: absolute;
    top: -24%;
    left:20%;
  transform: rotate(90deg);


}
.smokeScreen1{
    position: absolute;
    top: -27%;
    left:70%;
  transform: rotate(270deg);


}
/* 
/* .StartButton{
    background-color: grey;
    border: none;
    color: black;
    /* padding: 15px 32px; */
    /* text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

} */

@keyframes changecolor{
    /* from {background: radial-gradient(#808080, black);}
    to {background: radial-gradient(#000000, black);} */
    from {background: #808080;}
    to {background: #000000;}
}
.zoom{
    animation: incrementFont 5s 1;
}

@keyframes incrementFont{
    0% {
        margin-top: 0px;
    }
    100%{
        margin-top: 200px;
        font-size: 60px;
    }
}